/* Write your CSS here! */
body {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    background-color: bisque;
    font-size: medium;
}
header,
main,
footer{
    background-color: coral;
    font-size: medium;
}

