/* Write your CSS here! */
/*https://github.com/stadrus/js-assignment-4-html-me-something-stadrus.git*/
html,header,body,h1,h2,article,footer{
    margin: 20;
	padding: 7px;
	border: 80;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

    }
    header {
    background-color: red;
    font-size: xx-large;
    text-align: center;
    color: black;

    }   

    body {
    display: block;
    width: 100%;
    max-width: 1080px;
    margin: 8px;
    background-color: ivory;
    font-size: large;
    }   

    #idheader h2 {
    font-size: medium;
    font-style: italic;
    }

    footer{
    text-align: center;
    padding: 3em;
}

